
/* -------- Estilo Pestaña configuracion ------*/
.table{
  overflow-x:auto;
  overflow-y:auto;
  display:block;
}

#thead{
  font:13px 'Poppins', sans-serif;
}

#tbody{
  font:13px 'Poppins', sans-serif;
}

#accion {
  width: 20%;
}

#nombreuser {
  width: 80%;
}

#nombreidioma{
  width: 90%;
}

.fa-plus{
  padding: 0px 10px;
  background-color: rgb(17, 135, 202);
  border-radius: 0px;
  float: right;
  margin-top:-20px;
  border-radius: 20px;
}

.fa-pencil-square-o, .botonprimario {
  padding: 0px 10px;
  background-color: rgb(17, 135, 202);
  border-radius: 20px;
}

.botonrojo{
  padding: 0px 10px;
  background-color: rgb(232, 18, 12);
  border-radius: 20px;
}

.fa-trash-o {
  padding: 0px 10px;
  border-radius: 20px;
}

#sep-tabla{
  margin: 10px;
}


.input-group {
  margin-bottom: 4%;
}

.input-group-addon:first-child{
  font-size: smaller;
}

/* -------- Estilo Pestaña configuracion ------*/
